@model CarTransports.Models.DebitState

<div class="inputPair hidden">
    <label asp-for="DebitStateId"></label>
    <input asp-for="DebitStateId" readonly />
</div>

<div class="inputPair">
    <label asp-for="Description"></label>
    <input asp-for="Description" required />
</div>
