@model CarTransports.Models.PickupState

<div class="inputPair hidden">
    <label asp-for="PickupStateId"></label>
    <input asp-for="PickupStateId" readonly />
</div>

<div class="inputPair">
    <label asp-for="Description"></label>
    <input asp-for="Description" required />
</div>

