@model CarTransports.ViewModels.LoginViewModel

<div class="inputPair">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" required />
</div>

<div class="inputPair">
    <label asp-for="Password"></label>
    <input asp-for="Password" required />
</div>