@model CarTransports.Models.Country

<div class="inputPair hidden">
    <label asp-for="CountryId"></label>
    <input asp-for="CountryId" readonly />
</div>

<div class="inputPair">
    <label asp-for="Description"></label>
    <input asp-for="Description" required />
</div>
