@model CarTransports.Models.Customer

<div class="inputPair hidden">
    <label asp-for="CustomerId"></label>
    <input asp-for="CustomerId" readonly />
</div>

<div class="inputPair">
    <label asp-for="GreekCompanyName"></label>
    <input asp-for="GreekCompanyName" required />
</div>

<div class="inputPair">
    <label asp-for="EnglishCompanyName"></label>
    <input asp-for="EnglishCompanyName" />
</div>

<div class="inputPair">
    <label asp-for="ContactPerson"></label>
    <input asp-for="ContactPerson" />
</div>

<div class="inputPair">
    <label asp-for="Address"></label>
    <input asp-for="Address" />
</div>

<div class="inputPair">
    <label asp-for="City"></label>
    <input asp-for="City" />
</div>

<div class="inputPair">
    <label asp-for="Zip"></label>
    <input asp-for="Zip" />
</div>

<div class="inputPair">
    <label asp-for="CustomsClearer"></label>
    <input asp-for="CustomsClearer" />
</div>

<div class="inputPair">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
</div>

<div class="inputPair">
    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
</div>

<div class="inputPair">
    <label asp-for="PhoneSecondary"></label>
    <input asp-for="PhoneSecondary" />
</div>

<div class="inputPair">
    <label asp-for="Profession"></label>
    <input asp-for="Profession" />
</div>

<div class="inputPair">
    <label asp-for="Salutation"></label>
    <input asp-for="Salutation" />
</div>

<div class="inputPair">
    <label asp-for="TaxNo"></label>
    <input asp-for="TaxNo" />
</div>

<div class="inputPair">
    <label asp-for="GenitiveCase"></label>
    <input asp-for="GenitiveCase" />
</div>
