@model CarTransports.Models.Port

<div class="inputPair hidden">
    <label asp-for="PortId"></label>
    <input asp-for="PortId" readonly />
</div>

<div class="inputPair">
    <label asp-for="Description"></label>
    <input asp-for="Description" required />
</div>
