@model CarTransports.Models.Supplier

<div class="inputPair hidden">
    <label asp-for="SupplierId"></label>
    <input asp-for="SupplierId" readonly />
</div>

<div class="inputPair">
    <label asp-for="Description"></label>
    <input asp-for="Description" required />
</div>
