@model CarTransports.ViewModels.PickupPointIndexViewModel

<div class="filter listItems countries">

    <div class="filterHeader">
        <h3>Χωρες</h3>
    </div>

    <div class="filterContent">
        <ul class="listitems countriesList">
            @foreach (var item in Model.CountryGroupViewModel)
            {
                <li><span data-id="@item.CountryDescription"></span>@item.CountryDescription ( <span class="countryCount">@item.CountryCount</span> )</li>
            }
        </ul>
    </div>

    <div class="clearFilter clearCountries"><h4></h4></div>

    <input type="text" class="criteriaInput hidden" id="countryId" />

</div>

<script src="~/Scripts/Custom/PickupPoint/Country.js" async></script>