<link href="~/Styles/Custom/Pickup/SearchBox.css" rel="stylesheet" />

<div id="searchBox">
    <div class="filterHeader">
        <h3>Δωστε ΤΚ</h3>
    </div>
    <input type="text" id="searchInput" />
</div>

<script src="~/Scripts/Custom/PickupPoint/ZipSearchBox.js"></script>
