@model CarTransports.ViewModels.PickupIndexViewModel

<div class="filter listItems pickupStates">

    <div class="filterHeader">
        <h3>Σταδια παραλαβης</h3>
    </div>

    <div class="filterContent">
        <ul class="listitems pickupStatesList">
            @foreach (var item in Model.PickupStateGroupViewModel)
            {
                <li><span data-id="@item.PickupStateDescription"></span>@item.PickupStateDescription ( <span class="pickupPerStateCount">@item.PickupPerStateCount</span> )</li>
            }
        </ul>
    </div>

    <div class="clearFilter clearPickupStates"><h4></h4></div>

    <input type="text" class="criteriaInput hidden" id="pickupStateId" />

</div>

<script src="~/Scripts/Custom/Pickup/PickupState.js" async></script>