@model CarTransports.ViewModels.PickupIndexViewModel

<div class="filter listItems debitStates">

    <div class="filterHeader">
        <h3>Σταδια τιμολογησης</h3>
    </div>

    <div class="filterContent">
        <ul class="listitems debitStatesList">
            @foreach (var item in Model.DebitStateGroupViewModel)
            {
                <li><span data-id="@item.DebitStateDescription"></span>@item.DebitStateDescription ( <span class="debitPerStateCount">@item.DebitPerStateCount</span> ) ( <span class="debitAmount">@string.Format("{0:#,##0.00}", item.DebitAmount) </span>)</li>
            }
        </ul>
    </div>

    <div class="clearFilter clearDebitStates"><h4></h4></div>

    <input type="text" class="criteriaInput hidden" id="debitStateId" />

</div>

<script src="~/Scripts/Custom/Pickup/DebitState.js" async></script>