<link href="~/Styles/Custom/Pickup/SearchBox.css" rel="stylesheet" />

<div id="searchBox">
    <div class="filterHeader">
        <h3>Δωστε αρ. πλαισιου</h3>
    </div>
    <input type="text" id="searchInput" />
</div>

<script src="~/Scripts/Custom/Pickup/VINSearchBox.js"></script>
