@model CarTransports.Models.CurrentPosition

<div class="inputPair hidden">
    <label asp-for="CurrentPositionId"></label>
    <input asp-for="CurrentPositionId" readonly />
</div>

<div class="inputPair">
    <label asp-for="Description"></label>
    <input asp-for="Description" required />
</div>
