@model CarTransports.Models.Collaborator

<div class="inputPair hidden">
    <label asp-for="CollaboratorId"></label>
    <input asp-for="CollaboratorId" readonly />
</div>

<div class="inputPair">
    <label asp-for="Description" id="Description"></label>
    <input asp-for="Description" required />
</div>
