@model IEnumerable<CarTransports.ViewModels.RoleIndexViewModel>

<div class="table-content">
    <table class="sortable">
        <thead>
            <tr>
                <th data-sort="name">Περιγραφη</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row clickable" id="@item.Id">
                    <td class="column-content left">@item.RoleName</td>
                    <td class="action edit-icon"></td>
                    <td class="column-content bin-icon"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
