<link href="~/Styles/Custom/Shared/Footer.css" rel="stylesheet" />

<div id="pageFooter">
    <p class="center">Δημιουργηθηκε με <span id="heart">&hearts;</span> σε asp.net core &copy;2018</p>
</div>
