<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <link href="~/Styles/Custom/Shared/Printer.css" rel="stylesheet" />

</head>

<body>

    <div class="outerWrapper">

        @RenderBody()

    </div>

</body>

</html>
